<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>redirect-to-index.html</welcome-file>
	</welcome-file-list>

	<!-- Configuracoes de parametros do RestEasy -->
	<context-param>
		<param-name>resteasy.injector.factory</param-name>
		<param-value>org.holy.holyResteasy.web.config.ExtendedInjectorFactory</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/engine</param-value>
	</context-param>

	<!-- Servlet do RestEasy para a invocacao dos servicos -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.holy.holyResteasy.web.config.Application</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/engine/*</url-pattern>
	</servlet-mapping>

</web-app>
